.category-modal {
  max-width: 70vw;
  backdrop-filter: saturate(180%) blur(100px);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 16px 30px 4px;
  border-radius: 13px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 0;
  width: 16em;
  @media (min-width: 480px) {
    margin: auto 2em;
  }
  @media (min-width: 768px) {
    margin: auto 10em;
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(30, 30, 30, 0.6);
  }

  @media (min-width: 480px) {
    padding: 0em;
  }
}

.category-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  height: 2.5em;
  // height: 5em;
  padding: 0.3em;
}

.category-name {
  display: inline;
}

.num-of-posts {
  display: inline;
  color: grey;
  font-size: 0.9em;
}
