@import "./Variable.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  max-width: $document-width-desktop;
}

.main-container{
  margin: 1em auto;
  padding: 0 10vw;
  max-width: $document-width-desktop;
}

.card-container {
  display: grid;
  // padding: 0 5vw;
  column-gap: 3.5em;
  row-gap: 3em;
  margin: 0 auto;
  text-decoration-line: none;
  grid-template-columns: 1fr;

  @media (min-width: 480px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    max-width: 61rem;
  }
  @media (min-width: 1850px) {
    max-width: $document-width-desktop;
  }
}
.buttom-navigator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
  margin: 2em auto;
  button {
    width: 6em;
  }
}
